<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMCOE Login</title>
    <link rel="stylesheet" href="">
<script src="jquery-3.5.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--FONTSS-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <h1 class="mmcoe-header" >Marathwada Mitra Mandal's College of Engineering</h1>
    <h3 class="login-header" >Google login portal</h3>

    <div class="form">
  
        
        <form action="/" method="POST">
        <img class="google" src="http://www.androidpolice.com/wp-content/themes/ap2/ap_resize/ap_resize.php?src=http%3A%2F%2Fwww.androidpolice.com%2Fwp-content%2Fuploads%2F2015%2F10%2Fnexus2cee_Search-Thumb-150x150.png&w=150&h=150&zc=3"> 
        <input name="loginemail" class="text" type="email" id="Email" name="email" placeholder="Email" />
        <input name="loginpassword" class="text" type="password" id="Password" name="Password" placeholder="Password" />
        
        <button type="submit" class="btn btn-primary">Sign In</button>
        <br>
        <!-- <input type="button" onclick="sendMail()" value="Sign in"> -->
         <a href="/">Create account</a>
        </form>
      </div>
</body>
</html>